{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% if is_post %}
          <h2>Add Cafe</h2>
          <form method="POST" action="{{url_for('add_cafe')}}">

            {{wtf.quick_form(form, novalidate=True)}}
            </form>
          {% else %}
          <h2>Edit Cafe {{id}}</h2>

          <form method="POST" action="{{url_for('edit_cafe', id=id)}}">

            {{wtf.quick_form(form, novalidate=True)}}
            </form>
          {% endif %}
      </div>
    </div>
</div>
{% endblock %}




