{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{url_for('home')}}">Pretoria Cafes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
          <li class="nav-item">
          <a href="{{url_for('add_cafe')}}" class="btn btn-danger">Add Cafe</a>
        </li>


      </ul>
      <form action="{{url_for('search_cafes')}}" method="post" class="d-flex">
        <input class="form-control me-2" name="location" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}